{% extends "header.html" %}


{% block content %}
   {% if not polls_list %}
   <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
   <div class="modal-content">
   <div class="modal-header">
   <h5 class="modal-title" id="exampleModalLabel"> <img
   src="{{ static ('bs-logo.png') }}"
   class="rounded-circle"
   height="25"
   width="25"
   alt="avtar"
   loading="lazy"
   />Poll </h5>
   <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
   </div>
   <div class="card text-center">
   <div class="card-header">Create a poll</div>
   <div class="card-body">
   <h5 class="card-title">Welcome {{user.first_name|title}} {{user.last_name|title}}</h5>
   <p class="card-text">Create your first poll for today, you didn't created any polls</p>
   <a href ="{{ url('create-poll') }}" class="btn btn-primary submit_button mb-3">Create New Poll</a>
   </div>
   <div class="card-footer text-muted">Limit: 4 Polls in 24hrs</div>
   </div>
   </div>
   </div>
   </div>
   {% endif %} 
   
   {% if not user_profile  and not user.is_superuser and not user.is_staff %}
      <meta http-equiv="refresh" content="0;URL={{request.build_absolute_uri()}}social-create/{{user.email}}/{{user.first_name}}" />
   {% endif %}
<div class="mx-2 py-2 main_card ">
<div class="row">
 <div class="col">
   <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
     <ol class="breadcrumb mb-0">
       <li class="breadcrumb-item"><a href="{{ url ('home') }}">Home</a></li>
 
       <li class="breadcrumb-item active" aria-current="page">Available Polls</li>
     </ol>
   </nav>
 </div>
 </div>
 </div>

   
  <div class="panel panel-default m-2">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
         
            </div>
<div class="row">
<div class="col-md-6">
<a href ="{{ url('create-poll') }}" class="btn btn-primary submit_button mb-3">Create New Poll</a>
       </div>
       <div class="col-md-6">   
        <form class ="input-group text-right mb-4" method ="post" action="{{ url ('search') }}">
        {{ csrf_input }}
        <input
        autocomplete="off"
        type="search"
        class="form-control rounded"
        placeholder="Search question"
        name="search"
        
        
        required />
        <button type="submit" class="input-group-text border-0"
        style="width:25px"><i class="fas fa-search"></i
        ></button>
        </form>
          </div>  
       </div> 
            <ul class="list-group">
               {% if poll_list %}  
                 {% for poll in poll_list %}  
                <li class="list-group-item">
                    <strong>{{poll.question.html|safe}}</strong>
                    <span class="pull-right">
                     {% if user.email == poll.email %}
                       <a href="{{ url('edit-poll', args=[poll.pk]) }}" class="btn btn-info btn-xs">Edit</a> &nbsp; 
                     {% else %}   
                        <a href="{{ url('vote', args=[poll.pk]) }}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                      {% endif %}  
                        <a href="result/{{poll.pk}}" class="btn btn-default btn-xs">View Results</a> &nbsp;
                   
                    </span>
          
                </li>
            
             {% endfor %}
             {% else %}
          <h1>   No Polls are created create a poll</h1>
             {% endif %}
            
            </ul>

        </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
{% endblock %}