{% extends "header.html" %}

<style type="text/css">

{% block content %}
   {% if not user_profile  and not user.is_superuser and not user.is_staff %}
      <meta http-equiv="refresh" content="0;URL={{request.build_absolute_uri()}}social-create/{{user.email}}/{{user.first_name}}" />
   {% endif %}
<div class="mx-2 py-2 main_card ">
<div class="row">
 <div class="col">
   <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
     <ol class="breadcrumb mb-0">
       <li class="breadcrumb-item"><a href="{{ url ('home') }}">Home</a></li>
 
       <li class="breadcrumb-item active" aria-current="page">Available Polls</li>
     </ol>
   </nav>
 </div>
 </div>
 </div>

   
  <div class="panel panel-default m-2">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
         
            </div>
<div class="row">
<div class="col-md-6">
<a href ="{{ url('create-poll') }}" class="btn btn-primary submit_button mb-3">Create New Poll</a>
       </div>
       <div class="col-md-6">   
        <form class ="input-group text-right mb-4" method ="post" action="{{ url ('search') }}">
        {{ csrf_input }}
        <input
        autocomplete="off"
        type="search"
        class="form-control rounded"
        placeholder="Search question"
        name="search"
        
        
        required />
        <button type="submit" class="input-group-text border-0"
        style="width:25px"><i class="fas fa-search"></i
        ></button>
        </form>
          </div>  
       </div> 
            <ul class="list-group">
                 {% for poll in poll_list %}  
                <li class="list-group-item">
                    <strong>{{poll.question.html|safe}}</strong>
                    <span class="pull-right">
                     {% if user.email == poll.email %}
                       <a href="{{ url('edit-poll', args=[poll.pk]) }}" class="btn btn-info btn-xs">Edit</a> &nbsp; 
                     {% else %}   
                        <a href="{{ url('vote', args=[poll.pk]) }}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                      {% endif %}  
                        <a href="result/{{poll.pk}}" class="btn btn-default btn-xs">View Results</a> &nbsp;
                   
                    </span>
          
                </li>
             {% endfor %}
            </ul>

        </div>
    

{% endblock %}
